/* ################################################################################################################ basic page settings ################################################################################################################ */
body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: "Open Sans";
}
form{
	margin-bottom: 0em;
	margin-top: 0em;
	margin-right: 0em;
}
.red{
	color: red;
}
.green{
	color: green;
}
h6{
	padding:0;
	margin:5px;
}
ul.products h4{
	margin: auto;
	font-size: 13px;
	width: 150px;
	max-height: 75px;
	overflow: hidden;
}
ul.products p{
	font-size: 13px;
	overflow: hidden;
}
ul.products span{
	font-size: 15px;
}
ul.products li {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	text-align:center;
	height: 350px;
	border: 1px solid lightgrey;
	margin: 3px;
}
ul.products img {
	margin-top: 5px;
}
ul.products li:hover {
	border: 1px solid grey;
}
ul.products{
	margin: 0px;
	padding: 2px;
}
ul.products p{
	margin: 0px;
	padding: 0px;
}
/* ################################################################################################################ tooltip menu ################################################################################################################ */
.tooltip {
	position: relative;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 175px;
	background-color: #515151;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	font-size: 13px;
	font-family: "Open Sans";
	box-shadow: 0px 3px 5px #191919;
   /* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
/* ################################################################################################################ special menu ################################################################################################################ */
img{
	margin:0;
	padding:0;
}
hr{
	width: 100px;
	margin-top: 15px;
	margin-bottom: 1px;
	height: 1px;
	border: 0;
	box-shadow: 0 10px 1px -10px #000000 inset;
}
.menuwrapper{
	z-index: 15;
	position: relative;
	margin:0;
	margin-left: 20px;
	width: 240px;
}
.menu{
	margin:0;
	font-family: "Raleway";
	display: flex;
	flex-wrap: wrap;
}
.buttonContainerCSV{
	cursor: pointer;
	margin-top: 10px;
	margin-left: 5px;
	background-color: #adc64c;
	width: 110px;
	height: 85px;
	color: white;
	border: 1px solid #adc64c;
	box-shadow: 0px 3px 5px grey;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.buttonContainerCSVsettings{
	cursor: pointer;
	margin-top: 8px;
	margin-left: 5px;
	background-color: #adc64c;
	width: 110px;
	height: 85px;
	color: white;
	border: 1px solid #adc64c;
	box-shadow: 0px 3px 5px grey;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.buttonContainerXML{
	cursor: pointer;
	margin-top: 10px;
	margin-left: 8px;
	background-color: #1e797d;
	width: 110px;
	height: 85px;
	color: white;
	border: 1px solid #1e797d;
	box-shadow: 0px 3px 5px grey;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.buttonContainerUpload{
	cursor: pointer;
	margin-top: 10px;
	margin-left: 5px;
	background-color: #289ea2;
	width: 230px;
	height: 45px;
	color: white;
	border: 1px solid #289ea2;
	box-shadow: 0px 3px 5px grey;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.buttonContainerFeed{
	cursor: pointer;
	margin-top: 10px;
	margin-left: 5px;
	background-color: #289ea2;
	width: 110px;
	height: 85px;
	color: white;
	border: 1px solid #289ea2;
	box-shadow: 0px 3px 5px grey;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.buttonContainerPopup{
	cursor: pointer;
	margin-top: 10px;
	margin-left: 8px;
	background-color: #289ea2;
	width: 110px;
	height: 85px;
	color: white;
	border: 1px solid #289ea2;
	box-shadow: 0px 3px 5px grey;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.buttonContainerMapping{
	cursor: pointer;
	margin-top: 8px;
	margin-left: 5px;
	background-color: #289ea2;
	width: 110px;
	height: 85px;
	color: white;
	border: 1px solid #289ea2;
	box-shadow: 0px 3px 5px grey;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.buttonContainerFeedPink{
	cursor: pointer;
	margin-top: 8px;
	margin-left: 8px;
	background-color: #e83062;
	width: 110px;
	height: 85px;
	color: white;
	border: 1px solid #e83062;
	box-shadow: 0px 3px 5px grey;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.buttonContainerXMLsettings{
	cursor: pointer;
	margin-top: 8px;
	margin-left: 8px;
	background-color: #1e797d;
	width: 110px;
	height: 85px;
	color: white;
	border: 1px solid #1e797d;
	box-shadow: 0px 3px 5px grey;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
p{
	margin: 0;
	padding: 0;
}
.left{
	margin-top: 5px;
	margin-left: 5px;
	padding-left: 5px;
	font-size: 12px;
	text-align: left;
}
.leftFeed{
	margin-top: 5px;
	margin-left: 5px;
	padding-left: 5px;
	font-size: 15px;
	text-align: left;
}
.right{
	margin-right: 2px;
	padding-right: 2px;
	text-align: right;
}
.middle{
	font-style: normal;
	font-variant: normal;
	text-align: left;
	margin-left: 5px;
	padding-left: 5px;
	font-size: 35px;
	line-height: 35px;
	font-style: bold;
	font-weight: bold;
	margin-top: 0px;
}
.middleFeed{
	font-style: normal;
	font-variant: normal;
	text-align: left;
	margin-left: 5px;
	padding-left: 5px;
	font-size: 18px;
	line-height: 20px;
	font-style: bold;
	font-weight: bold;
	margin-top: 0px;
}
.icon{
	margin-top: -15px;
	margin-left: 25px;
	width: 55px;
}
.iconUpload{
	margin-top: -10px;
	margin-left: 45px;
	width: 25px;
}
.iconText{
	margin-top: -1px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
.iconUploadText{
	margin-left: 25px;
	margin-top: -20px;
	font-size: 16px;
	text-align: center;
	line-height: 17px;
}
.buttonContainerCSV:hover,.buttonContainerCSVsettings:hover{
	background-color: #758733ff;
	color: white;
	border: 1px solid #758733ff;
}
.buttonContainerXML:hover,.buttonContainerXMLsettings:hover{
	background-color: #124b4eff;
	color: white;
	border: 1px solid #124b4eff;
}
.buttonContainerUpload:hover,.buttonContainerFeed:hover,.buttonContainerPopup:hover,.buttonContainerMapping:hover{
	background-color: #196669ff;
	color: white;
	border: 1px solid #196669ff;
}
.buttonContainerFeedPink:hover{
	background-color: #9e2042ff;
	color: white;
	border: 1px solid #9e2042ff;
}
.buttonContainerXMLsettings img{
	transform: rotate(180deg);
}
/*.buttonContainerCSVsettings:hover img,.buttonContainerXMLsettings:hover img,.buttonContainerUpload:hover img{
	filter: invert(100%) opacity(70%);
   */
}
.buttonContainerCSVsettings:active img,.buttonContainerXMLsettings:active img,.buttonContainerUpload:active img{
	filter: drop-shadow(0px 0px 0px grey);
}
.buttonContainerCSV:active,.buttonContainerCSVsettings:active{
	background-color: #374018ff;
	color: white;
	border: 1px solid #374018ff;
	box-shadow: 0px 2px 3px grey;
}
.buttonContainerXML:active,.buttonContainerXMLsettings:active{
	background-color: #0b2e30ff;
	color: white;
	border: 1px solid #0b2e30ff;
	box-shadow: 0px 2px 3px grey;
}
.buttonContainerUpload:active,.buttonContainerFeed:active,.buttonContainerPopup:active,.buttonContainerMapping:active{
	background-color: #0f3d3fff;
	color: white;
	border: 1px solid #0f3d3fff;
	box-shadow: 0px 2px 3px grey;
}
.buttonContainerFeedPink:active{
	background-color: #511022ff;
	color: white;
	border: 1px solid #511022ff;
	box-shadow: 0px 2px 3px grey;
}
/* ################################################################################################################ * * * * * table design settings example feed csv ftp://ftp-11577-147765031:15903304@ftp.semtrack.de/ladenzeile_de.csv * * * ################################################################################################################ */
#tableHeader h1{
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: black;
}
#greenBG{
	background-color: #9fbe3c;
}
#contents,#contents2,#errorstatements{
	position: relative;
	margin-left: 5%;
	margin-top: 10px;
	width: 90%;
	z-index: 2;
}
#FeedTable{
	position: relative;
	overflow: auto;
	z-index: 2;
}
.empty {
	position: relative;
	border-color: rgba(0,0,0,0);
	width: 800px;
	height: 100px;
	border: 5px;
}
.empty2 {
	position: relative;
	border-color: rgba(0,0,0,0);
	width: 800px;
	height: 100px;
	border: 5px;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
/* ################################################################################################################ feed table settings ################################################################################################################ */
table#FeedTable,table#FeedTable th,table#FeedTable td{
	border: 1px solid black;
	border-collapse: collapse;
	vertical-align: middle;
}
table#FeedTable th,table#FeedTable td{
	padding: 5px;
}
table#FeedTable td {
	display: table-cell;
	vertical-align: inherit;
	text-align: inherit;
	padding: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
}
table#FeedTable th{
	background-color: rgba(40,158,162,1);
	color: white;
}
table#FeedTable tr:nth-child(even){
	background-color: rgba(40,158,162,.3);
}
table#FeedTable tr:nth-child(odd){
	background-color: rgba(40,158,162,.6);
}
table#FeedTable tr:hover {
	background-color: rgba(232, 48, 98,1);
	color: white;
}
div select{
	width: 150px;
}
/* ################################################################################################################ TableWindow table settings ################################################################################################################ */
table#TableWindow{
	font-family: Raleway;
	width: 1350px;
}
table#TableWindow,table#TableWindow th,table#TableWindow td{
	border-collapse: collapse;
	vertical-align: middle;
}
table#TableWindow th{
	text-align: center;
	font-size: 17;
	font-weight: 100;
	padding: 3;
}
table#TableWindow td{
	text-align: center;
	vertical-align: middle;
	font-size: 0.8em;
	padding-top: 6;
	padding-bottom: 6;
	width: 10%;
	overflow: hidden;
}
table#TableWindow td.found{
	background-color: rgba(217,234,211,1);
	color: #38761d;
	font-size: 26;
	padding: 0;
}
table#TableWindow td.otherfound,table#TableWindow td.othermissing{
	background-color: #efefefff;
	color: #666666;
	font-size: 26;
	padding: 0;
}
table#TableWindow td.missing{
	background-color: rgba(255,107,107,0.5);
	color: #990000;
	font-size: 26;
	padding: 0;
}
table#TableWindow td.missingEmpty{
	background-color: rgba(255,107,107,0.5);
	color: #990000;
}
table#TableWindow td.missingwithNumber{
	background-color: #efefefff;
	color: #666666;
}
table#TableWindow td.missinghalf{
	background-color: rgba(255,214,214,1);
	color: black;
}
table#TableWindow td.data{
	background-color: rgba(255,255,255,1);
	color: #666666;
   ;
}
/* ################################################################################################################ header settings ################################################################################################################ */
.containerheader{
	position: relative;
	margin: 0px;
	overflow: hidden;
	z-index: 10;
}
.header{
	position: relative;
	width: 100%;
	height: 150px;
	background-color: #1e797d;
	transform: translate(0px,-20px) rotate(2deg) scale(1.3,1.3);
}
#logoholder img {
	position: absolute;
	width: 350px;
	top: 20px;
	right:0;
	transform: translate(0px,-60px);
}
/* ################################################################################################################ * * * * * * * menu settings * * * * * ################################################################################################################ */
.containermenu{
	margin: 0px;
	position: fixed;
	top: 150px;
	width: 33%;
	display: none;
	z-index: 9;
}
.buttonwrapper{
	position: fixed;
	top: 30px;
	left: 65px;
	z-index: 20;
}
.button {
	display: inline-block;
	cursor: pointer;
}
/* .bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: rpga(255,255,255,0);
	margin: 6px 0;
	transition: 0.4s;
}
*/
.bar1 {
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	transition: 0.4s;
}
#quicklinkswrapper{
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	top: 13px;
	left: 215px;
	z-index: 19;
	width: 146px;
	height: 100px;
	border-radius: 0px 30px 30px 30px;
	background-color: rgba(245, 245, 245, 0.9);
	border: 1px solid #a6b2b269;
   /*box-shadow: 0px 3px 5px #191919;
   */
}
#quicklinkSection{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	width: 250px;
}
.buttontoolbackground {
	position: relative;
	cursor: pointer;
	margin: 1px;
	margin-left: 0px;
	margin-top: 0px;
	width: 38px;
	height: 38px;
	background-color: rgba(30,121,125,0);
   /*background-color: #1e797df;
   */
   /*opacity: 0.2;
   */
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,0);
   /*box-shadow: 0px 5px 5px rgba(0,0,0,.3);
   */
	z-index: 21;
}
.buttonToolwrapper{
	position: fixed;
	top: 30px;
	left: 140px;
	z-index: 20;
}
.buttonTool {
	display: inline-block;
	cursor: pointer;
}
.bar4 {
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	transition: 0.4s;
}
.buttonbackground {
	position: absolute;
	width: 65px;
	height: 65px;
	background-color: #0b2e3054;
   /*background-color: #1e797df;
   */
   /*opacity: 0.2;
   */
	border-radius: 50%;
   /*box-shadow: 0px 5px 5px rgba(0,0,0,.3);
   */
	z-index: -1;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.buttonbackground img{
	position: relative;
	padding-left: 4px;
	margin: -2;
}
.buttonbackground:hover{
	background-color: #0b2e3094;
	color: white;
}
.buttonbackground:active{
	background-color: #0b2e30c2;
	color: white;
	box-shadow: 0px 0px 0px grey;
}
/*.buttonbackground:hover img{
	filter: invert(100%) opacity(70%);
}
*/
.buttonbackground:active img{
	filter: drop-shadow(0px 0px 0px grey);
}
.toolbuttonbackground {
	position: absolute;
	left: 10;
	top: 10;
	width: 55px;
	height: 55px;
	background-color: #0b2e3054;
   /*background-color: #1e797df;
   */
   /*opacity: 0.2;
   */
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,0);
   /*box-shadow: 0px 5px 5px rgba(0,0,0,.3);
   */
	z-index: -1;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.toolbuttonbackground img{
	position: relative;
	margin: 5;
	top: 1;
	left: -1;
}
.toolbuttonbackground:hover{
	background-color: #0b2e3094;
	color: white;
}
.toolbuttonbackground:active{
	background-color: #0b2e30c2;
	color: white;
	box-shadow: 0px 0px 0px grey;
}
/*.toolbuttonbackground:hover img{
	filter: invert(100%) opacity(70%);
}
*/
.toolbuttonbackground:active img{
	filter: drop-shadow(0px 0px 0px grey);
}
/* #MappingWrapper{
	position: fixed;
	padding: 5px;
	z-index: 15;
	top: 180px;
	right: 5%;
	text-align: right;
	background-color: white;
	border: 2px solid rgba(40,158,162,1) 
}
*/
#MappingWrapper{
	position: fixed;
	top: 20px;
	width: 280px;
	right: 20px;
	padding: 5px;
	text-align: right;
	border: 1px solid #0b2e3057;
	background-color: rgba(245, 245, 245, 0.90);
	cursor: move;
	z-index: 15;
}
/* ################################################################################################################ * * * * * animation bars settings * * * * ################################################################################################################ */
.change .bar1 {
	-webkit-transform: rotate(-180deg) translate(4px, -2px);
	transform: rotate(-180deg) translate(4px, -2px);
}
.change .bar2 {
	opacity: 0;
	transform: rotate(-1350deg);
}
.change .bar3 {
	-webkit-transform: rotate(765deg) translate(-8px, -8px) ;
	transform: rotate(765deg) translate(-9px, -8px) ;
}
.change .bar4 {
	-webkit-transform: rotate(90deg) translate(-1px);
	transform: rotate(90deg) translate(-1px);
}
/* ################################################################################################################ * * * * * * * design inputs like buttons and text * * * * * ################################################################################################################ */
#my_inputs,#my_inputs2,#my_inputs3{
	position: relative;
	margin-left: 0px;
}
#my_form,.navi{
	position: relative;
	z-index: 15;
}
#menu{
	position: relative;
	z-index: 15;
}
button#MappingValidate,button#MappingClose{
	text-align: left;
	width: 150px;
	padding: 5px;
	margin: 5px 5px 5px 5px;
	font-size: 17;
	font-family: Raleway;
	text-align: center;
	font-weight: 500;
	width: 180px;
	color: white;
	background-color: rgba(40,158,162,1);
	border: 2px solid rgba(40,158,162,1);
	transition: 0.3s ease-out;
	border-radius: 3px 3px 3px 3px;
}
button#MappingValidate:hover,button#MappingClose:hover{
	color: white;
	background-color: #196669ff;
	border: 2px solid #196669ff;
	transition: 0.3s ease-out;
}
#my_form input[type=file]{
	text-align: center;
	width: 200px;
	height: 23px;
	padding: 1px;
	margin-bottom: 10;
	margin-top: 10;
	font-family: Raleway;
	color: white;
	background-color: #1e797d;
   /*border: 2px solid rgba(40,158,162,1);
	border-style: outset;
   */
	transition: width 0.3s ease-out, background-color 0.3s ease-out;
}
#my_form input[type=file]:hover{
	background-color: #196669;
}
input[type="text"]::-webkit-input-placeholder {
	color: white;
}
.schalter{
	position: relative;
	margin-left: 85px;
	margin-bottom: 20px;
	margin-top: 10px;
	z-index: 15;
	width: 80px;
	height: 20px;
	background-color: #289ea2;
	font-family: Open Sans;
	font-size: 13px;
	color: white;
	border: 1px solid black;
}
.links{
	margin-left: 1px;
	line-height: 20px;
}
.rechts{
	float: right;
	margin-right: 1px;
	line-height: 20px;
}
.switch{
	width: 40px;
	height: 20px;
	background-color: #289ea2;
	position: absolute;
	top: 0px;
	left: 40px;
	box-shadow: inset 0 0 3px #000000;
}
.backgroundmenu{
	width: 525px;
	height: 902px;
	left: 0px;
	padding: 0px;
	margin: 0px;
   /*background-color: rgba(0, 0, 0,0);
	border: 1px solid rgba(40,158,162,0);
	transition: 0.3s cubic-bezier(.47,.52,.29,1.4);
   */
	transform: translate(-350px,-750px) scale(1.3,1.3);
}
div.backgroundmenu.change {
	border: 1px solid #0b2e3057;
	background-color: rgba(245, 245, 245, 0.90);
	transform: translate(-350px,-1025px) scale(1.3,1.3);
}
/* ################################################################################################################ content that needs to hide once the page starts ################################################################################################################ */
#my_inputs,#my_inputs2,#my_inputs3,#loading,#responseBox,.modal,#suggestBox,#MappingWrapper,#loading2,#providedFeedTableContainer,#errorstatements,.schalter,#quicklinkswrapper{
	display: none;
}
/* ################################################################################################################ modal feedchecker page ################################################################################################################ */
.modal{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 2000;
	overflow: auto;
}
.closer2{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
   /*background-color: rgba(0,0,0,0.5);
   */
	z-index: -1;
}
.modal_main{
   /*margin: auto;
   */
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 650px;
	background-color: rgba(255,255,255,1);
	border-radius: 5px;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,.2),0 7px 20px 0 rgba(0,0,0,.2);
	z-index: 2005;
}
.modal_content{
	margin: auto;
	padding: 10px;
	cursor: move;
	z-index: 2005;
}
/* .col1{
	position: absolute;
	transform: translate(20px,0px);
	margin: 0px;
	padding: 0px;
	border-style: solid;
	border-top-color: rgba(40,158,162,0);
	border-left-color: rgba(40,158,162,0);
	border-right-color: rgba(40,158,162,0);
	border-bottom-color: rgba(40,158,162,1);
}
.col2{
	position: absolute;
	transform: translate(250px,0px);
	margin: 0px;
	padding: 0px;
	border-style: solid;
	border-top-color: rgba(40,158,162,0);
	border-left-color: rgba(40,158,162,0);
	border-right-color: rgba(40,158,162,0);
	border-bottom-color: rgba(232, 48, 98,1);
}
.col3{
	position: absolute;
	transform: translate(550px,0px);
	margin: 0px;
	padding: 0px;
	border-style: solid;
	border-top-color: rgba(40,158,162,0);
	border-left-color: rgba(40,158,162,0);
	border-right-color: rgba(40,158,162,0);
	border-bottom-color: rgba(232, 48, 98,0);
}
*/
select #language{
	border: 0;
	color: white;
	font-weight: bold;
	background: transparent;
	text-align: center;
	font-weight: bold;
	padding: 2px 10px;
	width: 50px;
	*width: 50px;
	*background: #adc64c;
	-webkit-appearance: none;
	height:30px;
	font-size: 17px;
}
#language {
	overflow:hidden;
	width:50px;
	text-align: center;
	color: white;
	font-weight: bold;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border-radius: 0px 9px 9px 9px;
	background: #adc64c;
	height:30px;
	font-size: 18px;
	font-family: "Raleway";
	border-color: #adc64c;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.col1{
	font-weight: bold;
}
.col3 select {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	margin: 0px;
	overflow: hidden;
	padding: 0px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 170px;
}
#formattingFeedbackBuilder{
	position:relative;
	width: 100%;
	margin-top: 10px;
}
#Jira{
	position:absolute;
	right: 303px;
	font-size: 17;
	font-family: Raleway;
	text-align: center;
	font-weight: 500;
	width: 180px;
	padding: 3px;
	margin: 0px;
	color: white;
	background-color: rgba(40,158,162,1);
	border: 2px solid rgba(40,158,162,1);
	transition: 0.3s ease-out;
	border-radius: 3px 3px 3px 3px;
}
#Jira:hover{
	text-align: center;
	width: 180px;
	padding: 3px;
	margin: 0px;
	color: white;
	background-color: #196669ff;
	border: 2px solid #196669ff;
	transition: 0.3s ease-out;
}
#Jira:active{
	background-color: #0f3d3fff;
	border: 2px solid #0f3d3fff;
}
#resetTemplateFunction{
	position:absolute;
	right: 0px;
	text-align: center;
	width: 90px;
	padding: 5px;
	margin: 0px;
	color: rgba(255,255,255,1);
	background-color: rgba(180,180,180,1);
	border: 2px solid rgba(180,180,180,1);
	transition: width 0.3s ease-out, background-color 0.3s ease-out;
	border-radius: 9px 9px 9px 9px;
}
#resetTemplateFunction:hover{
	right: 0px;
	text-align: center;
	width: 90px;
	padding: 5px;
	margin: 0px;
	color: rgba(255,255,255,1);
	background-color: rgba(100,100,100,1);
	border: 2px solid rgba(180,180,180,1);
	transition: width 0.3s ease-out, background-color 0.3s ease-out;
}
#feedbackBuilder{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
}
table#feedbackBuilder,table#feedbackBuilder th,table#feedbackBuilder td{
	cursor: default;
	border: 1px solid #ddd;
	border-collapse: collapse;
	vertical-align: middle;
}
table#feedbackBuilder th,table#feedbackBuilder td{
	padding: 0px;
}
table#feedbackBuilder td {
	display: table-cell;
	vertical-align: inherit;
	padding: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
}
table#feedbackBuilder th{
	background-color: rgba(40,158,162,1);
	color: white;
}
table#feedbackBuilder tr{
	background-color: rgba(255,255,255,1);
}
table#feedbackBuilder tr:hover {
	background-color: rgba(232, 48, 98,1);
	color: white;
}
table#feedbackBuilder th:nth-child(1){
	width: 180px;
}
table#feedbackBuilder th:nth-child(2){
	width: 250px;
}
table#feedbackBuilder th:nth-child(3){
	width: 180px;
}
table#feedbackBuilder td:nth-child(1){
	text-align: inherit;
}
table#feedbackBuilder td:nth-child(2){
	background-color: rgba(40,158,162,.2);
}
table#feedbackBuilder td:nth-child(3){
	text-align: inherit;
}
table#feedbackBuilder td:nth-child(4){
	text-align: center;
}
.col1 input[type=radio] {
	visibility: hidden;
	margin: 0;
	width: 3px;
}
.closer{
	color: #ccc;
	font-size: 80px;
	top:0px;
	right:0;
	margin: 0;
	transform: translate(0px,-30px);
	float: right;
}
.closer:hover,.closer:focus{
	color: #000;
	top:0px;
	right:0;
	float: right;
	text-decoration: none;
	cursor: pointer;
}
/* ################################################################################################################ modal feedchecker reply box ################################################################################################################ */
#suggestBox{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 3000;
}
.message-box{
	margin: 5% auto;
	width: 800px;
}
textarea{
	width: 100%;
	height: 400px;
}
#suggestions{
	width: 100%;
	background-color: white;
	border: 2px solid rgba(40,158,162,0);
	text-align: left;
	font-size: 12px;
	overflow: auto;
}
/* ################################################################################################################ modal feedchecker reply box ################################################################################################################ */
#validateContent{
	position: relative;
	margin-left: 5%;
	width: 90%;
	z-index: 2;
}
#check,#check2{
	position: relative;
	margin-left: 5%;
	width: 90%;
	z-index: 2;
}
/* ################################################################################################################ special menu settings ################################################################################################################ */
#my_inputs,#my_inputs2,#my_inputs3{
	position: relative;
	margin-left: 5px;
}
.settingwrapper{
	margin:0;
	width: 240px;
}
.settingContainerCSV{
	margin-top: 10px;
	margin-left: 0px;
	background-color: #adc64c;
	width: 230px;
	color: white;
	border: 1px solid #adc64c;
	box-shadow: 0px 3px 5px grey;
}
.settingContainerXML{
	margin-top: 10px;
	margin-left: 0px;
	background-color: #1e797d;
	width: 230px;
	color: white;
	border: 1px solid #1e797d;
	box-shadow: 0px 3px 5px grey;
}
.settingContainerUpload{
	margin-top: 10px;
	margin-left: 0px;
	background-color: #289ea2;
	width: 230px;
	color: white;
	border: 1px solid #289ea2;
	box-shadow: 0px 3px 5px grey;
}
.menuwrapper{
	margin:0;
	margin-left: 7px;
	width: 240px;
}
.lineSetting{
	margin-left: 20px;
	margin-right: 20px;
}
.iconSetting{
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 35px;
}
.settingMiddle{
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}
.settingItemMiddle{
	width: 70px;
	font-size: 13px;
	margin: 2px;
	margin-left: 29;
	margin-right: 3;
	text-align: center;
}
.settingItemCSVMiddle{
	width: 70px;
	font-size: 13px;
	margin: 2px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.settingItemXMLMiddle{
	width: 90px;
}
.settingBottom{
	display: flex;
	flex-wrap: wrap;
}
.settingItemBottom{
	width: 66.5px;
	font-size: 13px;
	margin: 5px;
}
.settingItemXMLBottom{
	font-size: 13px;
	margin-left:auto;
	margin-right:auto;
}
.settingSubmit{
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
.settingSubmit input[type=button]{
	width: 200px;
	height: 25px;
	font-size: 16px;
	color: white;
	background-color: #1e797d;
	border: 0px;
	margin-bottom: 10px;
	font-family: "Raleway";
	box-shadow: 0px 3px 5px rgba(0,0,0,.3);
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.settingSubmitXML{
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
.settingSubmitXML input[type=button]{
	width: 200px;
	height: 25px;
	font-size: 16px;
	color: white;
	background-color: #adc64c;
	border: 0px;
	margin-bottom: 10px;
	margin-top: 3px;
	font-family: "Raleway";
	box-shadow: 0px 3px 5px rgba(0,0,0,.3);
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.settingSubmit input[type=button]:hover{
	background-color: #124b4eff;
	color: white;
	border: 0px;
}
.settingSubmit input[type=button]:active{
	background-color: #0b2e30ff;
	color: white;
	border: 0px;
	outline: none;
	box-shadow: 0px 2px 3px rgba(0,0,0,0);
}
.settingSubmitXML input[type=button]:hover{
	width: 200px;
	background-color: #758733ff;
	color: white;
	border: 0px;
}
.settingSubmitXML input[type=button]:active{
	width: 200px;
	background-color: #374018ff;
	color: white;
	border: 0px;
	outline: none;
	box-shadow: 0px 2px 3px rgba(0,0,0,0);
}
input#itemnode.settingItemMiddle{
	width: 80px;
	height: 22px;
	margin-left: -25;
}
input#parentnode.settingItemMiddle{
	width: 80px;
	height: 22px;
	margin-left: 3;
}
select#uploadFormat{
	width: 65px;
	padding-left: 3;
	margin-left: 6;
	text-align: center;
	color: white;
   /*font-weight: bold;
   */
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border-radius: 0px 9px 9px 9px;
	background: #196669;
	height: 30px;
	font-size: 18px;
	font-family: "Raleway";
	border-color: #196669;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
select#uploadFormat:hover{
	background: #124b4e;
	border-color: #124b4e;
}
.uploadwrapper{
	width: 200px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
}
input.submit{
	width: 200px;
	height: 25px;
	font-size: 16px;
	color: white;
	background-color: #e83062;
	border: 0px;
	margin-bottom: 10px;
	font-family: "Raleway";
	box-shadow: 0px 3px 5px rgba(0,0,0,.3);
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
input.submit:hover{
	background-color: #9e2042ff;
	color: white;
}
input.submit:active{
	background-color: #511022ff;
	color: white;
	outline: none;
	box-shadow: 0px 2px 3px rgba(0,0,0,.3);
}
input#feedURL{
	width: 232px;
	height: 30px;
	margin-left: 5px;
	color: white;
	font-family: Raleway;
	font-size: 15;
	text-align: center;
	background-color: rgba(40,158,162,1);
	border: 2px solid rgba(40,158,162,1);
   /*border-style: outset;
   */
	box-shadow: 0px 3px 5px grey;
	transition: width 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
}
input#feedURL:hover{
	width: 232px;
	height: 30px;
	margin-left: 5px;
	color: white;
	font-family: Raleway;
	font-size: 15;
	text-align: center;
	background-color: #196669ff;
	border: 2px solid #196669ff;
   /*border-style: outset;
   */
	box-shadow: 0px 3px 5px grey;
}
input#feedURL:active{
	width: 232px;
	margin-left: 5px;
	color: rgba(40,158,162,1);
	background-color: white;
	border: 2px solid rgba(40,158,162,1);
   /*border-style: outset;
   */
}
input#feedURL:focus{
	width: 232px;
	margin-left: 5px;
	color: rgba(40,158,162,1);
	background-color: white;
	border: 2px solid rgba(40,158,162,1);
   /*border-style: outset;
   */
}
/* ################################################################################################################ div container for loading, will be excuted once ajax fired ################################################################################################################ */
#loading{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	cursor: wait;
	z-index: 1000;
}
/* ################################################################################################################ ajax loading animation ################################################################################################################ */
#dynamicLoadingContent{
	color: white;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 48%;
    margin-left: -100px;
    top: 45%;
    margin-top: -100px;
}
.socket h1{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
	color: rgba(255,255,255,0.2);
}
.socket{
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -100px;
}
.hex-brick{
	background: #ABF8FF;
	width: 30px;
	height: 17px;
	position: absolute;
	top: 5px;
	animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
.h2{
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
}
.h3{
	transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
}
.gel{
	height: 30px;
	width: 30px;
	transition: all .3s;
	-webkit-transition: all .3s;
	position: absolute;
	top: 50%;
	left: 50%;
}
.center-gel{
	margin-left: -15px;
	margin-top: -15px;
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
.c1{
	margin-left: -47px;
	margin-top: -15px;
}
.c2{
	margin-left: -31px;
	margin-top: -43px;
}
.c3{
	margin-left: 1px;
	margin-top: -43px;
}
.c4{
	margin-left: 17px;
	margin-top: -15px;
}
.c5{
	margin-left: -31px;
	margin-top: 13px;
}
.c6{
	margin-left: 1px;
	margin-top: 13px;
}
.c7{
	margin-left: -63px;
	margin-top: -43px;
}
.c8{
	margin-left: 33px;
	margin-top: -43px;
}
.c9{
	margin-left: -15px;
	margin-top: 41px;
}
.c10{
	margin-left: -63px;
	margin-top: 13px;
}
.c11{
	margin-left: 33px;
	margin-top: 13px;
}
.c12{
	margin-left: -15px;
	margin-top: -71px;
}
.c13{
	margin-left: -47px;
	margin-top: -71px;
}
.c14{
	margin-left: 17px;
	margin-top: -71px;
}
.c15{
	margin-left: -47px;
	margin-top: 41px;
}
.c16{
	margin-left: 17px;
	margin-top: 41px;
}
.c17{
	margin-left: -79px;
	margin-top: -15px;
}
.c18{
	margin-left: 49px;
	margin-top: -15px;
}
.c19{
	margin-left: -63px;
	margin-top: -99px;
}
.c20{
	margin-left: 33px;
	margin-top: -99px;
}
.c21{
	margin-left: 1px;
	margin-top: -99px;
}
.c22{
	margin-left: -31px;
	margin-top: -99px;
}
.c23{
	margin-left: -63px;
	margin-top: 69px;
}
.c24{
	margin-left: 33px;
	margin-top: 69px;
}
.c25{
	margin-left: 1px;
	margin-top: 69px;
}
.c26{
	margin-left: -31px;
	margin-top: 69px;
}
.c27{
	margin-left: -79px;
	margin-top: -15px;
}
.c28{
	margin-left: -95px;
	margin-top: -43px;
}
.c29{
	margin-left: -95px;
	margin-top: 13px;
}
.c30{
	margin-left: 49px;
	margin-top: 41px;
}
.c31{
	margin-left: -79px;
	margin-top: -71px;
}
.c32{
	margin-left: -111px;
	margin-top: -15px;
}
.c33{
	margin-left: 65px;
	margin-top: -43px;
}
.c34{
	margin-left: 65px;
	margin-top: 13px;
}
.c35{
	margin-left: -79px;
	margin-top: 41px;
}
.c36{
	margin-left: 49px;
	margin-top: -71px;
}
.c37{
	margin-left: 81px;
	margin-top: -15px;
}
.r1{
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .2s;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .2s;
}
.r2{
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .4s;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .4s;
}
.r3{
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .6s;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .6s;
}
.r1 > .hex-brick{
	animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .2s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .2s;
}
.r2 > .hex-brick{
	animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .4s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .4s;
}
.r3 > .hex-brick{
	animation-name: fade;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: .6s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: .6s;
}
@keyframes pulse{
	0%{
		-webkit-transform: scale(1);
		transform: scale(1);
   }
	50%{
		-webkit-transform: scale(0.01);
		transform: scale(0.01);
   }
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
   }
}
@keyframes fade{
	0%{
		background: #ABF8FF;
   }
	50%{
		background: #90BBBF;
   }
	100%{
		background: #ABF8FF;
   }
}
@-webkit-keyframes pulse{
	0%{
		-webkit-transform: scale(1);
		transform: scale(1);
   }
	50%{
		-webkit-transform: scale(0.01);
		transform: scale(0.01);
   }
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
   }
}
@-webkit-keyframes fade{
	0%{
		background: #ABF8FF;
   }
	50%{
		background: #389CA6;
   }
	100%{
		background: #ABF8FF;
   }
}
#loading2{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 2000;
}
#loading2wrapper{
	position: absolute;
	color: rgba(255,255,255,1);
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -100px;
}
.cssload-thecube {
	width: 73px;
	height: 73px;
	margin: 0 auto;
	margin-top: 49px;
	position: relative;
	transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ABF8FF;
	animation: cssload-fold-thecube 2.76s infinite linear both;
	-o-animation: cssload-fold-thecube 2.76s infinite linear both;
	-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
	-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
	-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.5) rotateZ(90deg);
	-o-transform: scale(1.5) rotateZ(90deg);
	-ms-transform: scale(1.5) rotateZ(90deg);
	-webkit-transform: scale(1.5) rotateZ(90deg);
	-moz-transform: scale(1.5) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.5) rotateZ(180deg);
	-o-transform: scale(1.5) rotateZ(180deg);
	-ms-transform: scale(1.5) rotateZ(180deg);
	-webkit-transform: scale(1.5) rotateZ(180deg);
	-moz-transform: scale(1.5) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.5) rotateZ(270deg);
	-o-transform: scale(1.5) rotateZ(270deg);
	-ms-transform: scale(1.5) rotateZ(270deg);
	-webkit-transform: scale(1.5) rotateZ(270deg);
	-moz-transform: scale(1.5) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
	-o-animation-delay: 0.35s;
	-ms-animation-delay: 0.35s;
	-webkit-animation-delay: 0.35s;
	-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
	-o-animation-delay: 0.69s;
	-ms-animation-delay: 0.69s;
	-webkit-animation-delay: 0.69s;
	-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
	-o-animation-delay: 1.04s;
	-ms-animation-delay: 1.04s;
	-webkit-animation-delay: 1.04s;
	-moz-animation-delay: 1.04s;
}
@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
   }
	25%, 75% {
		transform: perspective(136px) rotateX(0deg);
		opacity: 1;
   }
	90%, 100% {
		transform: perspective(136px) rotateY(180deg);
		opacity: 0;
   }
}
@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
   }
	25%, 75% {
		-o-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
   }
	90%, 100% {
		-o-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
   }
}
@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
   }
	25%, 75% {
		-ms-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
   }
	90%, 100% {
		-ms-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
   }
}
@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
   }
	25%, 75% {
		-webkit-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
   }
	90%, 100% {
		-webkit-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
   }
}
@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
   }
	25%, 75% {
		-moz-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
   }
	90%, 100% {
		-moz-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
   }
}
/* max-height - the only parameter in this file that needs to be edited. * Change it to suit your needs. The rest is recommended to leave as is. */
.clusterize-scroll{
	max-height: 400px;
	overflow: auto;
}
/** * Avoid vertical margins for extra tags * Necessary for correct calculations when rows have nonzero vertical margins */
.clusterize-extra-row{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
/* By default extra tag .clusterize-keep-parity added to keep parity of rows. * Useful when used :nth-child(even/odd) */
.clusterize-extra-row.clusterize-keep-parity{
	display: none;
}
/* During initialization clusterize adds tabindex to force the browser to keep focus * on the scrolling list, see issue #11 * Outline removes default browser's borders for focused elements. */
.clusterize-content{
	outline: 0;
	counter-reset: clusterize-counter;
}
/* Centering message that appears when no data provided */
.clusterize-no-data td{
	text-align: center;
}
table#clusterize{
	font-family: "Open Sans", Georgia, Serif;
}
table#clusterize,table#clusterize th,table#ClusterExample td{
	border: 1px solid black;
	border-collapse: collapse;
	vertical-align: middle;
}
table#ClusterExample th{
	background-color: rgba(219,219,219,1);
	color: black;
	text-align: center;
	font-size: 0.7em;
	padding: auto;
}
#contentArea td{
	background-color: rgba(219,219,219,1);
	color: black;
	text-align: center;
	font-size: 0.7em;
	padding: auto;
}
div.clusterize{
	margin-left: 5%;
	margin-right: 5%;
}
/* * * new Design Layout * */
#analyzeOverview{
	display: flex;
	width: 100%;
	height: 110px;
	margin-bottom: 15px;
}
#analyzeOverview{
	width: 100%;
	font-size: 18px;
}
#analyzeDuplicateOverview{
	display: flex;
	width: 100%;
	height: 100px;
	margin-bottom: 15px;
}
#analyzeDuplicateOverview{
	width: 100%;
	font-size: 18px;
}
#analyzeProducts{
	text-align: center;
	font-family: "Raleway";
	font-size: 18px;
	margin: 10px;
	margin-left: 0px;
	padding: 10px;
	background-color: #adc64c;
	min-width: 60px;
	color: white;
	border: 1px solid #adc64c;
	box-shadow: 0px 3px 5px grey;
}
#analyzeDuplicateProducts{
	text-align: center;
	font-family: "Raleway";
	font-size: 18px;
	margin: 10px;
	margin-left: 0px;
	padding: 10px;
	background-color: #adc64c;
	min-width: 80px;
	color: white;
	border: 1px solid #adc64c;
	box-shadow: 0px 3px 5px grey;
}
#analyzeProducts h1,#analyzeDuplicateProducts h1{
	text-align: center;
}
#analyzeProducts.noDeal,#analyzeDuplicateProducts.noDeal{
	background-color: rgba(180,180,180,1);
	border: 1px solid rgba(180,180,180,1);
}
#analyzeProducts.notFound{
	background-color: rgba(241,180,0,1);
	border: 1px solid rgba(241,180,0,1);
}
#analyzeMandatory,#analyzeOther{
	margin-bottom: 15px;
}
.mandatoryfeedattributes{
	background-color: #e83062;
	color: white;
	border: 1px solid white;
}
.importantfeedattributes{
	background-color: #1e797d;
	color: white;
	border: 1px solid white;
}
tr#Header{
	font-size: 23px;
	font-weight: 500;
}
tr#otherHeader{
	font-size: 25px;
}
.otherfeedattributes{
	background-color: #999999ff;
	color: white;
	border: 1px solid white;
}
#underlineHeader{
	display: inline-block;
	position: relative;
}
#underlineHeader:before{
	content: "";
	position: absolute;
	width: 130%;
	height: 1px;
	bottom: -5px;
	border-bottom: 2px solid #666;
}
#value,tr#Value td.data{
	background-color: #efefefff;
}
#value td,td.data{
	border: 1px solid white;
}
.refreshButton{
	position: absolute;
	width: 20;
	cursor: pointer;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	-ms-transition: -ms-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}
.refreshButton:hover{
	-webkit-animation: spin1 2s infinite linear;
	-moz-animation: spin1 2s infinite linear;
	-o-animation: spin1 2s infinite linear;
	-ms-animation: spin1 2s infinite linear;
	animation: spin1 2s infinite linear;
	display: block;
}
@-webkit-keyframes spin1 {
	0% {
		-webkit-transform: rotate(0deg);
   }
	100% {
		-webkit-transform: rotate(-360deg);
   }
}
@-moz-keyframes spin1 {
	0% {
		-moz-transform: rotate(0deg);
   }
	100% {
		-moz-transform: rotate(-360deg);
   }
}
@-o-keyframes spin1 {
	0% {
		-o-transform: rotate(0deg);
   }
	100% {
		-o-transform: rotate(-360deg);
   }
}
@-ms-keyframes spin1 {
	0% {
		-ms-transform: rotate(0deg);
   }
	100% {
		-ms-transform: rotate(-360deg);
   }
}
@-keyframes spin1 {
	0% {
		transform: rotate(0deg);
   }
	100% {
		transform: rotate(-360deg);
   }
}